html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  scroll-behavior: smooth;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}

.skip-nav-link {
  position: absolute;
  background: white;
  border: 1px solid #888;
  border-radius: 0 0 5px 5px;
  padding: .5rem 1.5rem;
  color: #212529;
  transform: translateX(-120%);
  font-size: 1.2rem;
  z-index: 110;
}

.skip-nav-link:hover {
  color: #6c757d;
}

.skip-nav-link:focus {
  transform: translateX(0);
}

/* ------  LIGHT color shema on top  ------ */

/* font color on top */
.nav.light div.logo a {
  color: #eee;
}
.nav.light div.main-list ul li a {
  color: #eee;
}
.nav.light .nav-menu i {
  background-color: #eee;
}

/* hover color on top */
.nav.light div.logo a:hover {
  color: #aaa;
}
.nav.light div.main-list ul li a:hover {
  color: #aaa;
}

.page {
  
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.full-page {
  min-height: 100vh;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

header.masthead {
  position: relative;
  margin-bottom: 0;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-color: #6c757d;
  background-size: cover;
  background-attachment: scroll;
  background-image: url("../public/rendered/header.jpg");
  background-image: image-set(
    url("../public/rendered/header.webp"), 
    url("../public/rendered/header.jpg")
  );
}
header.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212529;
  opacity: 0.5;
}
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  color: #fff;
}
header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}
header.masthead .page-heading h1, header.masthead .page-heading .h1,
header.masthead .site-heading h1,
header.masthead .site-heading .h1 {
  color: #eee;
  font-size: 3rem;
  line-height: 5.5rem;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin-top: 3rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading h1, header.masthead .post-heading .h1 {
  font-size: 2.25rem;
}
header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}
header.masthead .post-heading .subheading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.75rem 0 2rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading .meta {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading .meta a {
  color: #fff;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .page-heading h1, header.masthead .page-heading .h1,
  header.masthead .site-heading h1,
  header.masthead .site-heading .h1 {
    font-size: 5rem;
  }
  header.masthead .post-heading h1, header.masthead .post-heading .h1 {
    font-size: 3.5rem;
  }
  header.masthead .post-heading .subheading {
    font-size: 1.875rem;
  }
}

@media (max-width: 577px) {
  header.masthead {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
  header.masthead .page-heading h1, header.masthead .page-heading .h1,
  header.masthead .site-heading h1,
  header.masthead .site-heading .h1 {
    font-size: 2rem;
    line-height: 1.1;
  }
  header.masthead .post-heading h1, header.masthead .post-heading .h1 {
    font-size: 2.5rem;
  }
  header.masthead .post-heading .subheading {
    font-size: 1.575rem;
  }

  .card {
    width: 100% !important;
    margin: 15px 0 !important;
  }
}

#ergo-explained {
  min-height: 30vh;
}

#therapy {
  margin-top: 8rem;
  width: 100vw;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

#therapy > .container {
  max-width: 95%;
}

.therapy-page {
  margin-top: 15vh !important;
  padding: 0;
}

.therapy-item {
  height: calc(100% - 1rem - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.therapy-card {
  width: 60%;
}

.row {
  margin: 0;
}

.carousel {
  background-color: #dddddd;
  background-image: url("../public/rendered/color-unsplash.jpg");
  background-image: image-set(
    url("../public/rendered/color-unsplash.webp"), 
    url("../public/rendered/color-unsplash.jpg")
  );
  background-size: cover;
  background-position: bottom;
  height : 70vh;
  min-height: 700px;
}

.carousel-inner {
  height : 100%;
  padding : 0 14%;
}

.carousel-item {
  height: 100%;
}

.werdegang-container {
  clear: both;
}

.hidden {
  display: none;
}



.border-top {
  border-top: 1px solid #e6ecf1;
}

.border-bottom {
  border-bottom: 1px solid #e6ecf1;
}

.headline {
  font-weight: 600;
}

td.year {
  width: 180px;
}

h5.card-title.center {
  text-align: center;
}

.generic-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}

.generic-block .left, .generic-block .right {
  width: 50%;
}

.darkorange {
  color: darkorange;
}

.flex {
  display: flex;
}

.flex > .headline {
  width: 100%;
}

/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .generic-block {
    display: flex;
  }
  
  .generic-block .left, .generic-block .right {
    width: 45%;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .generic-block {
    display: flex;
  }
  
  .generic-block .left, .generic-block .right {
    width: 50%;
  }
}
 
@media all and (min-width: 480px) and (max-width: 768px) {
  
}
 
@media all and (max-width: 480px) {
  
}
 
 
 /* Portrait */
@media screen and (orientation:portrait) { 
  /* Portrait styles here */ 
}

 /* Landscape */
@media screen and (orientation:landscape) { 
  /* Landscape styles here */ 
}
 
 
/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {

}
 
/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
  /* Retina style here */

}
 
/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
  h3 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  table {
    border-collapse: separate;
    border-spacing: 0 0.55rem;
  }

  td {
    font-size: 0.85rem;
  }

  .page {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  h5.card-title.center {
    font-size: 0.9rem;
  }

  li, p {
    font-size: 0.95rem;
  }

  td.year {
    width: 120px;
  }

  .carousel {
    padding: 3rem;
  }

  .generic-block {
    display: block;
  }
  
  .generic-block .left, .generic-block .right {
    width: auto;
  }
} 
 
/* iPhone Landscape */
@media screen and (max-device-height: 480px) and (orientation:landscape) {
  header.masthead .page-heading .subheading,
  header.masthead .site-heading .subheading {
    display: none;
  }

  header.masthead .page-heading h1, header.masthead .page-heading .h1,
  header.masthead .site-heading h1,
  header.masthead .site-heading .h1 {
    line-height: 3.5rem;
  }

  header.masthead {
    padding-top: calc(2rem + 57px);
  }

  h3 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  table {
    border-collapse: separate;
    border-spacing: 0.55rem;
  }

  td {
    font-size: 0.85rem;
  }

  .page {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  h5.card-title.center {
    font-size: 1.1rem;
  }

  li, p {
    font-size: 0.95rem;
  }

  td.year {
    width: 120px;
  }

  .carousel {
    padding: 3rem;
  }

}
 
/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {

}
 
/* iPad Landscape */
@media screen and (min-device-height: 481px) and (orientation:landscape) {

}